extends layout

block content
    main(role="main")
        include ./content/pre.pug
        .wrapper
            .flex-item
                img.user-img(src= (user._json.image_url))
                h2 #{user.displayName}
            .flex-item
                .level-bar
                    - const userLevel = JSON.parse(user._raw).cursus_users[1].level;
                    - const progress = (JSON.stringify(userLevel).split('.')[1] * 100) / 100;
                    .progress(style=`width: ${progress}%`)
                    p.user-level #{userLevel}
            .flex-item
                p #{user._json.location || 'Offline'}
            .flex-item
                p Some other field
            .flex-item
                a.logout(href="/logout") Logout

