extends layout

block content
  main(role="main")
    pre.
       _ _ ___ _ _ ___  _          _
      | | |_  ) | |_  )| |_ ___ __| |_
      |_  _/ /|_  _/ / |  _/ -_) _| ' \
        |_/___| |_/___(_)__\___\__|_||_|
    h1 Documentation
    if ( showJson )
      a(href="?showJson=true").selector.actived Json
      a(href="/help").selector Endpoints
    else
      a(href="?showJson=true").selector Json
      a(href="/help").selector.actived Endpoints

    .sep
    if ( showJson )
      include ./content/json_help.pug
    else
      include ./content/endpoints_help.pug
    br
    | The project is
    a(href='https://github.com/Donokami/4242.tech')  available on GitHub
    | , feel free to contribute and add your own markdown sheets!
