extends layout

block content
  main(role="main")
    pre.
       _ _ ___ _ _ ___  _          _
      | | |_  ) | |_  )| |_ ___ __| |_
      |_  _/ /|_  _/ / |  _/ -_) _| ' \
        |_/___| |_/___(_)__\___\__|_||_|

    p
      b 4242.tech
      |  is a simple wiki to access command line cheat sheets, to simplify your life at 42 School.
      br
      | To use it, you just have to:
      br
      .code-cpy
          input(type="text" value="curl 4242.tech/help" id="2" readonly)
          button.copy-btn(onclick="copyToClip(2)")
            i.fa.fa-clone
      br
      | The project is
      a(href='https://github.com/Donokami/4242.tech')  available on GitHub
      | , feel free to contribute and add your own markdown sheets!
