p
| To use it, you just have to:
br
.code-cpy
    input(type="text" value="curl 4242.tech/" id="1" readonly)
    button.copy-btn(onclick="copyToClip(1)")
        i.fa.fa-clone
br
h3 Endpoints:
h4 Utils:
.code-cpy
    input(type="text" value="curl 4242.tech/int" id="2" readonly)
    button.copy-btn(onclick="copyToClip(3)")
        i.fa.fa-clone
br
.code-cpy
    input(type="text" value="curl 4242.tech/ctypes" id="3" readonly)
    button.copy-btn(onclick="copyToClip(4)")
        i.fa.fa-clone
