p
| To use it, you just have to:
br
.code-cpy
    input(type="text" value="curl -X GET \"4242.tech/help?json=true\"" id="2" readonly)
    button.copy-btn(onclick="copyToClip(2)")
        i.fa.fa-clone
